.important {
  color: tomato;
}

.unimportant {
  color: mediumblue;
}

.highlight {
  font-weight: 100;
}

.fish-type {
  color: peru;
}

img {
  float: left;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
}

.column {
  width: 300px;
  float: left;
}